<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="icon" href="../utilities/logo.png" type="image/icon type">
</head>
<body>
    <div class="logo">
      <img src="../utilities/logo.png" alt="Logo">
    </div>
    <h1 class="uname"><%= newListItems.firstName +", " +newListItems.lastName %></h1>
    <h1 class="title">Inventory</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Date</th>
            <th>Inventory</th>
            <th>Action</th>
          </tr>
        <% for(var i = 0; i < newListItems.items.length; i++) { %>
            <tr>
                <th><%= i+1 %></th>
                <th><%= newListItems.items[i].Name %></th>
                <th><%= newListItems.items[i].Category %></th>
                <th><%= newListItems.items[i].Date %></th>
                <th><%= newListItems.items[i].Inventory %></th>
                <th>
					<form action="/dashboardDelete" method="post">
                    	<button class="dButton" name="deleteButton" value="<%=newListItems.items[i].Name%>">Delete</button>
					</form>
                </th>
            </tr>
        <% } %>
            <tr>
              <form action="/dashboard" method="post">
                <th>+</th>
                <th><input type="text" name="newName" placeholder="Name"></th>
                <th><input type="text" name="newCategory" placeholder="Category"></th>
                <th><input type="text" name="newDate" placeholder="Date"></th>
                <th><input type="text" name="newInventory" placeholder="# in Inventory"></th>
                <th>
                  <button type="submit" class="aButton">Add</button>
                </th>
              </form> 
            </tr>
        </thead>
      </table>
    </div>
</body>
</html>